@using Microsoft.AspNetCore.Http;

@model PetPhotoModel

@{
    var upload = (PetPhotoModel)this.Model;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <img class="card-img-top" src="@("~/UploadedPhotos/" + upload.ImageName)" asp-append-version="true">
            <div class="card-body">
                <h4 class="card-title">@upload.Title</h4>
                <h6 class="card-subtitle mb-2 text-muted">@upload.PetName</h6>
                <p class="card-text">@upload.DateUploaded</p>
                <p class="card-text">@upload.Description</p>
                <p class="card-subtitle">Ratings:</p>
                <p class="card-text">
                    Cute:@upload.AverageCutenessRating/5<br />
                    Funny:@upload.AverageFunnynessRating/5<br />
                    Awsome:@upload.AverageAwsomnessRating/5<br />
                </p>
            </div>
        </div>
    </div>
</div>