@using Microsoft.AspNetCore.Http;
@using FunPetPics.ViewModels;

@model UserRatingViewModel

@{
    var upload = this.Model.PetPhotoModel;
    var currentUser = this.Model.UserModel;

    var selectList = new SelectList(new string[] { "-", "1", "2", "3", "4", "5" });
}
<form asp-action="Rate">
    @if (Model.RatingModel != null)
    {
        <input type="hidden" value="@Model.RatingModel.Id" name="RatingModel.Id" />
    }
    <input type="hidden" value="@Model.PetPhotoModel.Id" name="PetPhotoModel.Id" />
    @if (Model.UserModel != null)
    {
        <input type="hidden" value="@Model.UserModel.Id" name="UserModel.Id" />
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <img class="card-img-top" src="@("~/UploadedPhotos/" + upload.ImageName)" asp-append-version="true">
                <div class="card-body">
                    <h4 class="card-title" color="#000">@upload.Title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">@upload.PetName</h6>
                    <p class="card-text">@upload.DateUploaded</p>
                    <p class="card-text">@upload.Description</p>
                    <p class="card-text">Uploaded by: @upload.UploadedBy</p>
                    <p class="card-subtitle">Ratings:</p>
                    <p class="card-text">
                        <table>
                            <tr>
                                <th></th>
                                <th>Average Rating</th>
                                <th>Your Rating</th>
                            </tr>
                            <tr>
                                <td>Cute</td>
                                <td>@upload.AverageCutenessRating/5</td>
                                @{

                                    if (currentUser == null)
                                    {
                                        <td>Please Log in to rate</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DropDownList("RatingModel.CutenessRating", selectList)
                                            <span asp-validation-for="RatingModel.CutenessRating" class="text-danger"></span>
                                        </td>
                                    }

                                }
                            </tr>
                            <tr>
                                <td>Funny</td>
                                <td>@upload.AverageFunnynessRating/5</td>
                                @{
                                    if (currentUser == null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DropDownList("RatingModel.FunynessRating", selectList)
                                            <span asp-validation-for="RatingModel.FunynessRating" class="text-danger"></span>
                                        </td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td>Awsome</td>
                                <td>@upload.AverageAwsomnessRating/5</td>
                                @{
                                    if (currentUser == null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DropDownList("RatingModel.AwsomenessRating", selectList)
                                            <span asp-validation-for="RatingModel.AwsomenessRating" class="text-danger"></span>
                                        </td>
                                    }
                                }
                            </tr>
                        </table>
                        @if (currentUser != null)
                        {
                            <input type="submit" value="Rate" class="btn btn-primary" />
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>