@model IEnumerable<FunPetPics.Models.PetPhotoModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="UploadPhoto">Upload Photo</a>
</p>
@if (Model == null || !Model.Any())
{
    <p>Your uploads will be displayed here</p>

}
else
{

    @using (Html.BeginForm("Index", "UserUploads", FormMethod.Get))
    {
        <h6>Order by:</h6>
        @Html.DropDownList("sortOrder", new SelectList(ViewBag.SortOrder))
        <input type="submit" value="search" />

    }

    @*<div class="row">
            <div class="col-md-4">
                <h6>Order by:</h6>
                <div class="form-group">
                    <input type=text list=sortOrder class="list">
                    <datalist id=sortOrder>
                        <option>@Html.ActionLink("Newest", "Index", new { sortOrder = "Newest" })</option>
                        <option>@Html.ActionLink("Oldest", "Index", new { sortOrder = "Oldest" })</option>
                        <option>@Html.ActionLink("Cutest", "Index", new { sortOrder = "Cutest" })</option>
                        <option>@Html.ActionLink("Funiest", "Index", new { sortOrder = "Funiest" })</option>
                        <option>@Html.ActionLink("Most Awsome", "Index", new { sortOrder = "Most Awsome" })</option>
                    </datalist>
                </div>
            </div>
        </div>
        <br />*@

    <div class="card-columns">

        @foreach (var upload in Model)
        {
            <div class="card">
                <img class="card-img-top" src="@("~/UploadedPhotos/"+  upload.ImageName)" asp-append-version="true">
                <div class="card-body">
                    <h4 class="card-title">@upload.Title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">@upload.PetName</h6>
                    <p class="card-text">@upload.DateUploaded</p>
                    <p class="card-text">@upload.Description</p>
                    <p class="card-subtitle">Ratings:</p>
                    <p class="card-text">
                        Cute:@upload.AverageCutenessRating/5<br />
                        Funny:@upload.AverageFunnynessRating/5<br />
                        Awsome:@upload.AverageAwsomnessRating/5<br />
                    </p>
                </div>
            </div>
        }
    </div>

}